.users {
  padding-left: 35px;
}
.users > p {
  margin-bottom: 25px;
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.users_name {
  margin-top: 19px;
  margin-bottom: 17px;
  //font
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
